.container {
    width: 100%;
    text-align: center;
}

.text {
    opacity: 0;
    transform: translateX(50%);
    transition: all 1s ease-out;
}

.text.show {
    width: 100%;
    opacity: 1;
    transform: translateY(0%);
    font-weight: bold;
    font-size: 3rem;
    font-style: italic;
    color: gold;
    text-shadow: 0.2rem 0.2rem 0.2rem darkgreen;
}

.btn{
    width: 40%;
    padding: 0.3rem;
    border-radius: 0.8rem;
    background: green;
    color: gold;
    font-weight: bold;
    font-size: 2rem;
    border: 1px solid black;
    text-transform: uppercase;
    margin: 3rem 0 0 0;
    transition: 2s;
}

.btn:hover{
    transform: scale(1.1, 1.1);
    background: gold;
    color: green;
    border: 1px solid darkgreen;
}





