*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --var-bg-all: url(./images/bg.jpg) no-repeat center fixed;
}

body {
  background: var(--var-bg-all);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}